<c-row>
  <c-col lg="3" xs="12">
    <c-widget-stat-f [title]="'6'"
                     class="mb-3"
                     color="warning"
                     padding=""
                     [value]="'Notification'">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilBell" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col lg="3" xs="12">
    <c-widget-stat-f [title]="'4'"
                     class="mb-3"
                     color="success"
                     padding=""
                     [value]="'Project'">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilChart" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col lg="3" xs="12">
    <c-widget-stat-f [title]="'Test'"
                     class="mb-3"
                     color="info"
                     padding
                     [value]="'Text'">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilText" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
  <c-col lg="3" xs="12">
    <c-widget-stat-f [title]="'Project'"
                     class="mb-3"
                     color="primary"
                     padding
                     [value]="'Create New'">
      <ng-template cTemplateId="widgetIconTemplate">
        <svg [cIcon]="icons.cilFile" size="xl" width="24"></svg>
      </ng-template>
    </c-widget-stat-f>
  </c-col>
</c-row>
