c-col {
  div {
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0 3rem 0;
    color: #160647;
  }

  svg {
    color: #160647;
  }

  c-card-body {
    h1 {
      font-weight: 500;
      color: #160647;
    }
  }

  button {
    font-size: 12px;
  }
}

