:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

.nave-selected {
  color: #321fdb !important;
}

.nave-no-selected {
  color: #9da5b1;
}

table {
  width: 100%;
  ::ng-deep {
    thead {
      background-color: #4f5d73;
      div {
        color: #fff;
      }
    }
    tbody {
      tr:hover {
        background: whitesmoke;
      }
    }
  }

  .custom-th-column::ng-deep {
    .mat-sort-header-container {
      justify-content: center;
      padding: 0 0 0 1rem;
    }
  }

  .custom-td-column {
    text-align: center;
  }
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

