<app-widgets-f></app-widgets-f>

<!--<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header><b>Today Task</b></c-card-header>
      <c-card-body>
        <div class="example mb-3">
          <c-nav variant="tabs" >
            <c-nav-item *ngFor="let task of tasks; index as i">
              <a cNavLink [ngClass]="i == activeTabsIndex? 'nave-selected':'nave-no-selected'"
                          [cTabContent]="tabContent"
                          [tabPaneIdx]="i"
                          [routerLink]="[]">
                <svg cIcon class="me-2" name="cilList"></svg>
                {{ task.name }}
              </a>
            </c-nav-item>
          </c-nav>

          <c-tab-content #tabContent="cTabContent"
                         (activeTabPaneIdxChange)="onTabChange($event)"
                         [activeTabPaneIdx]="activeTabsIndex">
            <c-tab-pane *ngFor="let task of tasks; index as i;" class="p-3">
              <div class="tab-content rounded-bottom">
                <div class="tab-pane active show p-3 preview fade">
                  <ng-container *ngFor="let item of task.itemList">
                    <c-form-check>
                      <input [checked]="item.checked" cFormCheckInput id="checkOne" type="checkbox"/>
                      <label cFormCheckLabel for="checkOne">{{ item.description }}</label>
                    </c-form-check>
                  </ng-container>
                </div>
              </div>
            </c-tab-pane>
          </c-tab-content>

        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>-->

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header><b>Project Summary</b></c-card-header>
      <c-card-body>
        <mat-form-field>
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

        <div class="mat-elevation-z8">
          <table mat-table [dataSource]="dataSource" matSort>
            <!-- ID Column -->
            <ng-container matColumnDef="id">
              <th class="custom-th-column" mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;"> ID </th>
              <td class="custom-td-column" mat-cell *matCellDef="let row" style="width: 10%;"> {{ row.id }} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30%"> Name </th>
              <td mat-cell *matCellDef="let row" style="width: 30%"> {{ row.name }} </td>
            </ng-container>

            <!-- Date Column -->
            <ng-container matColumnDef="date">
              <th class="custom-th-column" mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%"> Due Date </th>
              <td class="custom-td-column" mat-cell *matCellDef="let row" style="width: 20%"> {{ row.date | date: 'MMM dd, y' }} </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
              <th class="custom-th-column" mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%"> Status </th>
              <td class="custom-td-column" mat-cell *matCellDef="let row" style="width: 20%"> <c-badge [color]="selectColor(row.status)" shape="rounded-pill">{{ row.status }}</c-badge> </td>
            </ng-container>

            <!-- Progress Column -->
            <ng-container matColumnDef="progress">
              <th class="custom-th-column" mat-header-cell *matHeaderCellDef mat-sort-header style="width: 20%"> Progress </th>
              <td class="custom-td-column" mat-cell *matCellDef="let row" style="width: 20%"> {{ row.progress }}% </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" colspan="5" *ngIf="!isLoading">No data matching the filter "{{ input.value }}"</td>
              <td class="mat-cell" colspan="5" *ngIf="isLoading">
                <div class="d-flex justify-content-center py-3">
                  <mat-spinner [diameter]="80" [strokeWidth]="10"></mat-spinner>
                </div>
              </td>
            </tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons aria-label="Select page of users"></mat-paginator>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
