<app-widgets-f></app-widgets-f>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header><b>Today Task</b></c-card-header>
      <c-card-body>
        <div class="example mb-3">
          <c-nav variant="tabs">
            <c-nav-item>
              <a [active]="activeNavTask"  [routerLink]="[]" cNavLink (click)="activeNavTask = !activeNavTask">
                <svg cIcon class="me-2" name="cilList"></svg>
                All
              </a>
            </c-nav-item>
            <c-nav-item>
              <a [active]="!activeNavTask"  [routerLink]="[]" cNavLink (click)="activeNavTask = !activeNavTask">
                <svg cIcon class="me-2" name="cilNotes"></svg>
                Notes
              </a>
            </c-nav-item>
          </c-nav>
          <div class="tab-content rounded-bottom">
            <div class="tab-pane active show p-3 preview fade">
              <ng-container *ngFor="let note of notes">
                <c-form-check>
                  <input [checked]="note.checked" cFormCheckInput id="checkOne" type="checkbox"/>
                  <label cFormCheckLabel for="checkOne">{{ note.description }}</label>
                </c-form-check>
              </ng-container>

            </div>
          </div>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>

<c-row>
  <c-col xs>
    <c-card class="mb-4">
      <c-card-header><b>Project Summary</b></c-card-header>
      <c-card-body>
        <table cTable hover="">
          <thead cTableColor="dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Due date</th>
              <th scope="col">Status</th>
              <th scope="col">Progress</th>
            </tr>
          </thead>
          <tbody *ngFor="let project of projects">
            <tr>
              <th scope="row">{{ project.id }}</th>
              <td>{{ project.name }}</td>
              <td>{{ project.dueDate | date: 'MMM dd, y' }} </td>
              <td><c-badge [color]="selectColor(project.status)" shape="rounded-pill">{{ project.status }}</c-badge></td>
              <td>{{ project.progress }}%</td>
            </tr>
          </tbody>
        </table>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
