:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}

.nave-selected {
  color: #321fdb !important;
}

.nave-no-selected {
  color: #9da5b1;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  width: 25%;
}
