<div class="example mb-3">
  <c-nav variant="tabs" >
    <c-nav-item *ngFor="let task of statisticsList; index as i">
      <a cNavLink [ngClass]="i == activeTabsIndex? 'nave-selected':'nave-no-selected'"
         [cTabContent]="tabContent"
         [tabPaneIdx]="i"
         [routerLink]="[]">
        <svg cIcon class="me-2" name="cilList"></svg>
        {{ task.name }}
      </a>
    </c-nav-item>
  </c-nav>

  <c-tab-content #tabContent="cTabContent"
                 (activeTabPaneIdxChange)="onTabChange($event)"
                 [activeTabPaneIdx]="activeTabsIndex">
    <c-tab-pane *ngFor="let task of statisticsList; index as i;" class="p-3">
      <div class="tab-content rounded-bottom">
        <div class="tab-pane active show p-3 preview fade">
          <ng-container *ngFor="let item of task.itemList">
            <c-form-check>
              <input [checked]="item.checked" cFormCheckInput id="checkOne" type="checkbox"/>
              <label cFormCheckLabel for="checkOne">{{ item.description }}</label>
            </c-form-check>
          </ng-container>
        </div>
      </div>
    </c-tab-pane>
  </c-tab-content>

</div>
