.project-card {
  cursor: pointer;
}

c-widget-stat-e {
  font-size: 1.2rem;
  svg {
    box-sizing: border-box;
    color: #fff;
    padding: 12px;
    background-color: #2eb85c;
    border-radius: 1.2rem;
  }

}
